{{template "base" .}}

{{define "main"}}
    <div class="container">
        <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
            <h3 class="title is-3 mb-0">Collections</h3>
            <div x-data="{open: {{if hasError "name" .Form.FieldErrors}}true{{else}}false{{end}}}"
                 @click.outside="open = false">
                <button class="button is-link is-small" @click="open = true" :class="{'is-outlined':open}">
                    Create
                </button>
                <div class="modal" :class="{'is-active':open}">
                    <div class="modal-background" @click="open = false"></div>
                    <div class="modal-card">
                        <header class="modal-card-head p-5">
                            <p class="modal-card-title">New Collection</p>
                            <button class="delete" @click="open = false"></button>
                        </header>
                        <section class="modal-card-body">
                            <form action="/v1/collection" method="post">
                                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                                <input type="hidden" name="parent_id" value="{{.Data.ParentID}}">
                                <div class="field">
                                    <label class="label">Name</label>
                                    <div class="control">
                                        <input class="input {{if hasError "name" .Form.FieldErrors}}is-danger{{end}}"
                                               type="text" placeholder="System Design..."
                                               name="name" value="{{.Form.Name}}">
                                    </div>
                                    {{with .Form.FieldErrors.name}}
                                        <p class="help is-danger">{{.}}</p>
                                    {{end}}
                                </div>
                                <button class="button is-success is-fullwidth mt-4">Create</button>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-grid has-3-cols">
            <div class="grid" id="collections-grid">
                {{range .Data.Collections}}
                    <a href="/v1/collection/{{.ID}}" class="list-item px-4 has-text-white-05">
                        <strong class="collection-name">{{.Name}}</strong>
                        <small style="padding-top: 2px">{{humanDate .CreatedAt}}</small>
                    </a>
                {{else}}
                    <p>No collections yet :(</p>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
