{{define "signup"}}
    <html lang="en">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/static/css/index.css">
            <link rel="stylesheet" href="/static/css/highlight.css">
            <script src="/static/js/htmx.min.js"></script>
            <title>Continuity</title>
        </head>
        <body>
            <main class="section" style="min-height: 100vh; display: flex; align-items: center;">
                <div class="columns is-centered" style="width: 100%;">
                    <div class="column is-11">
                        <div class="box">
                            <div class="columns is-vcentered">
                                <div class="column is-three-fifths p-1">
                                    {{template "view" .}}
                                </div>
                                <div class="column pl-4">
                                    <h4 class="title is-4">Create an Account</h4>
                                    <p class="subtitle is-6 mt-1">
                                        Already have an account?
                                        <a class="has-text-grey is-underlined"
                                           href="/user/login"
                                        > Log in</a>
                                    </p>
                                    {{template "form" .}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </body>
    </html>
{{end}}

{{template "signup" .}}

{{define "view"}}
    <figure class="image is-5by4">
        <img style="border-radius: 8px;" src="/static/img/login.jpg" alt="so many notes">
    </figure>
{{end}}

{{define "form"}}
    <section class="container is-max-tablet">
        <form action="/user/signup" method="post" novalidate>
            <div class="field">
                <label for="name" class="label">Full Name</label>
                <div class="control">
                    <input class="input {{if hasError "name" .Form.FieldErrors}}is-danger{{end}}"
                           id="name" type="text" placeholder="John Doe"
                           name="name" value="{{.Form.Name}}"
                    />
                </div>
                {{with .Form.FieldErrors.name}}
                    <p class="help is-danger">{{.}}</p>
                {{end}}
            </div>

            <div class="field">
                <label for="username" class="label">Username</label>
                <div class="control">
                    <input class="input {{if hasError "username" .Form.FieldErrors}}is-danger{{end}}"
                           id="username" type="text" placeholder="johndough"
                           name="username" value="{{.Form.Username}}"
                    >
                </div>
                {{with .Form.FieldErrors.username}}
                    <p class="help is-danger">{{.}}</p>
                {{end}}
            </div>

            <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <input class="input {{if hasError "email" .Form.FieldErrors}}is-danger{{end}}"
                           id="email" type="email" placeholder="john@dough.com"
                           name="email" value="{{.Form.Email}}"
                    >
                </div>
                {{with .Form.FieldErrors.email}}
                    <p class="help is-danger">{{.}}</p>
                {{end}}
            </div>

            <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control">
                    <input class="input {{if hasError "password" .Form.FieldErrors}}is-danger{{end}}"
                           id="password" type="text" placeholder="&*some$#strong%@password"
                           name="password" value="{{.Form.Password}}"
                    />
                </div>
                {{with .Form.FieldErrors.password}}
                    <p class="help is-danger">{{.}}</p>
                {{end}}
            </div>
            <button class="button is-normal is-fullwidth is-link mt-5">Create Account</button>
        </form>
    </section>
{{end}}
