::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none; /* IE */
    scrollbar-width: none; /* Firefox */
}

footer.footer {
    padding: 1rem;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #2f343d;
    border-radius: 5px
}

.list-item:hover {
    cursor: pointer;
    background: #3a4042;
}

.collection-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.custom-danger {
    color: whitesmoke;
    background: #af1111;
    border-color: #af1111;
}

.custom-danger-outlined {
    color: #af1111;
    background: transparent;
    border-color: #af1111;
}
